*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-image: url(../img/sfondo.jpg);
    background-size: cover;
}

.container{
    height: 80vh;
    width: 70%;
    margin: 20px auto;
    background-color: lightgrey;
}
.container::after {
    content: "";
    clear: both;
    display: table;
  }
aside{
    height: 100%;
    width: 300px;
    background-color: lightgrey;
    float: left;
}

main{
    height: 100%;
    width: calc(100% - 300px);
    background-color: yellow;
    float: left;
}
/* navbar dell'utente */
.utente{
    height: 60px;
    background-color:#eaeaea;
}
.utente::after {
    content: "";
    clear: both;
    display: table;
}
.nav-left{
    float: left;
    line-height: 60px;
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.nav-right{
    float: right;
    line-height: 60px;
}

.nav-right i{
    margin-right: 5px;
    color: #b1b1b1;
}

.nav-left img{
    height: 45px;
    width: auto;
    border-radius: 35px;
    margin-right: 5px;
}

.img-utente{
    display: inline-block;
}

.nome-utente{
    display: inline-block;
}

.pop-up{
    height: 80px;
    background-color: #8edafc;
    display: flex;
    align-items: center;
}

.pop-up i{
    font-size: 25px;
    margin: 0px 5px;
    /* filter: invert(); */
    color: #8edafc;
    border: 1px solid white;
    border-radius: 50px;
    background-color: white;
    padding: 10px;
}

.pop-up div{
    font-size: 12px;
}

.pop-up a{
    color: #719395;
}

/* zona contatti */

.ricerca{
    padding: 10px;
    background-color: #eaeaea;
    height: 50px;
}
.ricerca div{
    background-color: white;
    
}
.ricerca i{
    padding: 0px 5px;
    color: #b7bcc0;
}



.cerca-contatto{
    width: 85%;
    background-color: white;
    padding: 7px 40px;
    border: 1px solid white;
    border-radius: 5px;
    margin-left: 10px;
}

.contatti{
    height: calc(100% - 190px);
    background-color: white;
    overflow-y: scroll;
}

.contatti ul {
    list-style: none;
}

.contatti li{
    height: 40px;
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid #d8d7d7;
}

.contatti img{
    margin-left: 10px;
    height: 80%;
    width: auto;
    border-radius: 15px;
    margin-right: 7px;
}

.chat{
    font-size: 12px;
}

/* inizio chat */

.contatto-chat{
    height: 60px;
    background-color: #eaeaea;
    border-left: 1px solid #d8d7d7;
}
.contatto-chat::after {
    content: "";
    clear: both;
    display: table;
  }

  .contatto-chat-left{
      height: 100%;
    margin-left: 20px;
    float: left;
    display: flex;
    align-items: center;
}

.contatto-chat-left img{
    height: 80%;
    width: auto;
    border-radius: 30px;
    margin-right: 10px;
}
.contatto-chat-right{
    float: right;
    line-height: 60px;
}
.contatto-chat-right i{
    margin-right: 10px;
    color: #b1b1b1;
}

.messaggi{
    height: calc(100% - 110px);
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
}
.messaggi::after {
    content: "";
    clear: both;
    display: table;
}

.mymess{
    margin-top: 15px;
    margin-right: 10px;
    margin-left: auto;
    background-color: greenyellow;
    max-width: 50%;
    padding: 10px;
    border-radius: 10px;
}

.yourmess{
    margin-top: 15px;
    margin-left: 10px;
    margin-right: auto;
    background-color: rgb(165, 165, 165);
    max-width: 50%;
    padding: 10px;
    border-radius: 10px;
}

.scrivi-mess{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: #f3eeea;
}

.scrivi-mess i{
    color: #b1b1b1;
    font-size: 25px;
}

.casella-testo{
    padding: 10px;
    width: 85%;
    border-radius: 10px;
    border: 1px solid white;
}

.date{
    position: relative;
    bottom: 0px;
    text-align: end;
    color: rgb(34, 34, 34);
    font-size: 10px;

}