*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    height: 80vh;
    width: 70%;
    margin: 20px auto;
    background-color: green;
}
.container::after {
    content: "";
    clear: both;
    display: table;
  }
aside{
    height: 100%;
    width: 300px;
    background-color: royalblue;
    float: left;
}

main{
    height: 100%;
    width: calc(100% - 300px);
    background-color: yellow;
    float: left;
}
/* navbar dell'utente */
.utente{
    height: 60px;
    background-color: rebeccapurple;
}
.utente::after {
    content: "";
    clear: both;
    display: table;
}
.nav-left{
    float: left;
    line-height: 60px;
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.nav-right{
    float: right;
    line-height: 60px;
}

.nav-right i{
    margin-right: 5px;
}

.nav-left img{
    height: 45px;
    width: auto;
    border-radius: 35px;
    margin-right: 5px;
}

.img-utente{
    display: inline-block;
}

.nome-utente{
    display: inline-block;
}

.pop-up{
    height: 80px;
    background-color: saddlebrown;
    display: flex;
    align-items: center;
}

.pop-up i{
    font-size: 30px;
    margin-right: 5px;
}

.pop-up div{
    font-size: 12px;
}

.pop-up a{
    color: gray;
}

/* zona contatti */

.ricerca{
    padding: 10px;
    background-color: lightslategray;
    height: 50px;
}



.cerca-contatto{
    width: 85%;
    background-color: white;
    padding: 7px 40px;
    border: 1px solid white;
    border-radius: 5px;
    margin-left: 10px;
}

.contatti{
    height: calc(100% - 190px);
    background-color: tomato;
}

.contatti ul {
    list-style: none;
}

.contatti li{
    height: 40px;
    display: flex;
    align-items: center;
    background-color: white;
}

.contatti img{
    height: 80%;
    width: auto;
    border-radius: 15px;
    margin-right: 7px;
}

.chat{
    font-size: 12px;
}

/* inizio chat */

.contatto-chat{
    height: 60px;
    background-color: rebeccapurple;
    border-left: 1px solid black;
}
.contatto-chat::after {
    content: "";
    clear: both;
    display: table;
  }

  .contatto-chat-left{
      margin-left: 20px;
    float: left;
    line-height: 60px;
}

.contatto-chat-right{
    float: right;
    line-height: 60px;
}

.messaggi{
    height: calc(100% - 110px);
    background-color: hotpink;
}

.scrivi-mess{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: greenyellow;
}