<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
    <section class="container">
        <aside>
            <nav class="utente">
                <div class="nav-left">
                    <img src="img/avatar_1.jpg" alt="" class="img-utente">
                    <div class="nome-utente">Nome Utente</div>
                </div>

                <div class="nav-right">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </nav>

            <div class="pop-up">
                <i class="fas fa-bell-slash"></i>
                <div>
                    <div>Ricevi notifiche di nuovi messaggi </div>
                    <a href="#">attiva adesso le notifiche deckstop</a>
                </div>
            </div>

            <div class="ricerca">
                <div>
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder="cerca contatto" class="cerca-contatto" :onchange="findutente()" v-model="newfind">
                </div>
            </div>

            <div class="contatti">
               <ul>
                   <li  v-for="(item,index) in contacts" v-if="item.visible" @click="cambioutente(item,index)">
                    <img v-if="item.visible" v-bind:src="'img/avatar'+ item.avatar +'.jpg'" alt="">
                    <div v-if="item.visible">
                     <div><strong>{{item.name}}</strong></div>
                     <div class="chat">questa è la chat</div>
                    </div>
                   </li>
               </ul>
            </div>
        </aside>
        
        <main>
            <div class="contatto-chat">
                <div class="contatto-chat-left" id="maincontact">
                    <img :src="'img/avatar'+ contacts[this.count].avatar +'.jpg'" alt="">
                    <div>
                        <div><strong id="mainname">{{contacts[this.count].name}}</strong></div>
                        <div class="chat">ultimo accesso</div>
                    </div>
                </div>
                <div class="contatto-chat-right">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>


            <div class="messaggi">
                <div v-for="(item,index) in (contacts[this.count].messages)">
                    <div v-if="item.status=='sent'" class="main-mess-right">
                        <div  class="mymess">
                            <span>   {{item.text}} </span>
                            <i class="fas fa-chevron-down" @click="openmenu(item,index)"></i>
                            <div v-if="contacts[count].messages[index].open" class="opzioni" @click="deletemess(item,index)"> elimina messaggio</div>
                            <div class="date">
                                {{item.date}}
                            </div>
                        </div>
                    </div>
                    <div v-else class="main-mess-left">
                        <div class="yourmess">
                            <span>{{item.text}}</span>
                            <i class="fas fa-chevron-down" @click="openmenu(item,index)"></i>
                            <div v-if="contacts[count].messages[index].open" class="opzioni" @click="deletemess(item,index)"> elimina messaggio</div>
                            <div class="date">
                                {{item.date}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="scrivi-mess">
                <i class="far fa-smile"></i>
                <input type="text" placeholder="scrivi un messaggio" v-model="newmess" class="casella-testo" @keyup.enter="addmess()">
                <i class="fas fa-microphone"></i>
            </div>

        </main>

    </section>
    </div>

    <script src="js/script.js"></script>
</body>
</html>